.FinancialApp {
  text-align: center;
}

.FinancialApp-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .FinancialApp-logo {
    animation: FinancialApp-logo-spin infinite 20s linear;
  }
}

.FinancialApp-header {
  background-color: #1a365d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.FinancialApp-link {
  color: #4299e1;
}

@keyframes FinancialApp-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 